<h1>Stories</h1>

<div>
  <a class="direction linkstorylist" ng-click="signIn()">Signin/Register</a>
  <a class="direction linkstorylist" ng-click="signout()">Signout</a>
  <a class="direction linkstorylist" ng-click="profile()">Profile</a>

</div>






<div>
  <ul class="basiclist">
    <li ng-repeat="(key, value) in books">
      <!-- <p ng-repeat="(key, value) in name"> -->
        <a class="linkstorylist" href="#/storypage/{{value.title}}">{{value.title}}</a>
      <!-- </p> -->
    </li>
  </ul>
</div>
