<h1>Signin Page</h1>
<div>
  <a class="direction linkstorylist" ng-click="home()">Home</a>
  <a class="direction linkstorylist" ng-click="signout()">Signout</a>
</div>
<div class="basicspacer">
  <input ng-model="email" id="userEmail" type="email">
  <label for="userEmail">Email</label>
</div>
<div class="basicspacer">
<input ng-model="password" id="userPassword" type="password">
<label for="userPassword">Password</label>
</div>
<div>
  <a class="direction linkstorylist" ng-click="signIn()">Signin</a>
  <a class="direction linkstorylist" ng-click="register()">Register</a>
</div>



<!-- <button ng-click="post()">post</button> -->
