<h1>Story Page Test</h1>
<h2>{{titleName}}</h2>

<button ng-click="startstuff()">beginstory</button>

<button ng-click="losestuff()">losestory</button>

<button ng-click="getstuff()">getstory</button>

<button ng-click="endstuff()">endstory</button>

<div>
  <ul>
  <li ng-repeat="line in text">{{line}}</li>
</ul>
</div>
<div>
  <!-- <h3>{{text}}</h3> -->
  <h3>{{blockOText}}</h3>
  <!-- <h1>{{money}}</h1> -->
</div>

<button ng-click="mark()">mark</button>
<button ng-click="gotomark()">gotomark</button>
<button ng-click="clear()">clearmark</button>
